<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/google-fonts.css">
      <link rel="stylesheet" href="/stylesheets/normalize.css">
      <link rel="stylesheet" href="/stylesheets/lib/nv.d3.css">
      <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
